## Atividade 02

# Exercícios

Vamos praticar a criação de várias expectativas para um dataset público. 
Para isso, vamos utilizar o dataset Titanic disponível no Kaggle. 
Este dataset contém informações sobre os passageiros do navio Titanic, incluindo informações como nome, idade, sexo, classe da cabine e se sobreviveram ou não ao naufrágio.

### 1. Importando os dados

In [23]:
import pandas as pd

pd.set_option('display.max_columns',50)

In [24]:
path = '../dados/titanic/train.csv'

1.1 Crie um objeto DataContext

In [25]:
import great_expectations as gx

context = gx.get_context()

context

{
  "anonymous_usage_statistics": {
    "data_context_id": "fa28f60f-335e-4ea6-b464-22732ce8067c",
    "enabled": true,
    "explicit_url": false,
    "usage_statistics_url": "https://stats.greatexpectations.io/great_expectations/v1/usage_statistics",
    "explicit_id": true
  },
  "checkpoint_store_name": "checkpoint_store",
  "config_variables_file_path": "uncommitted/config_variables.yml",
  "config_version": 3.0,
  "data_docs_sites": {
    "local_site": {
      "class_name": "SiteBuilder",
      "show_how_to_buttons": true,
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted\\data_docs\\local_site"
      },
      "site_index_builder": {
        "class_name": "DefaultSiteIndexBuilder"
      }
    }
  },
  "datasources": {},
  "evaluation_parameter_store_name": "evaluation_parameter_store",
  "expectations_store_name": "expectations_store",
  "include_rendered_content": {
    "expectation_validation_result": false,
    "expectation_suite": false,
    "globally": false
  },
  "plugins_directory": "plugins/",
  "stores": {
    "expectations_store": {
      "class_name": "ExpectationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "expectations/"
      }
    },
    "validations_store": {
      "class_name": "ValidationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted/validations/"
      }
    },
    "evaluation_parameter_store": {
      "class_name": "EvaluationParameterStore"
    },
    "checkpoint_store": {
      "class_name": "CheckpointStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "checkpoints/"
      }
    },
    "profiler_store": {
      "class_name": "ProfilerStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "profilers/"
      }
    }
  },
  "validations_store_name": "validations_store"
}

1.2 Crie um validator e carregue o dataset Titanic: https://storage.googleapis.com/tf-datasets/titanic/train.csv

In [26]:
df = pd.read_csv(path)

coluna_df = list(df.columns)

print(coluna_df)

['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone']

In [27]:
display(df)

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [28]:
validator = context.sources.pandas_default.read_csv(path)

print(validator)

<great_expectations.validator.validator.Validator object at 0x000001EDF9A78A50>

### 2. Definindo expectativas

Agora que temos o dataframe, podemos começar a criar expectativas sobre os dados.

2.1 Crie uma expectativa que defina que as colunas do dataframe estão na ordem correta.

In [29]:
lista_ok = ['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone']
lista_not = ['sex', 'survived', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone']
validator.expect_table_columns_to_match_ordered_list(lista_not)

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "result": {
    "observed_value": [
      "survived",
      "sex",
      "age",
      "n_siblings_spouses",
      "parch",
      "fare",
      "class",
      "deck",
      "embark_town",
      "alone"
    ],
    "details": {
      "mismatched": [
        {
          "Expected Column Position": 0,
          "Expected": "sex",
          "Found": "survived"
        },
        {
          "Expected Column Position": 1,
          "Expected": "survived",
          "Found": "sex"
        }
      ]
    }
  },
  "meta": {}
}

2.2 Agora crie uma expectativa para verificar se os valores da coluna "Survived" só podem ser 0 ou 1.

In [30]:
coluna_ex = 'Survived'
valor_ex = [0,1]
survided_ex = validator.expect_column_values_to_be_in_set(coluna_ex,valor_ex)

print(survided_ex)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "expectation_config": {
    "kwargs": {
      "column": "Survived",
      "value_set": [
        0,
        1
      ],
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "expectation_type": "expect_column_values_to_be_in_set",
    "meta": {}
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {}
}

2.3 Defina que a coluna "Pclass" só pode ter valores de 1 a 3.

In [31]:
coluna_ex = 'class'
valor_ex = ['First','Second','Third']
pchass_ex = validator.expect_column_distinct_values_to_be_in_set(coluna_ex, valor_ex)
print(pchass_ex)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "expectation_config": {
    "kwargs": {
      "column": "class",
      "value_set": [
        "First",
        "Second",
        "Third"
      ],
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "expectation_type": "expect_column_distinct_values_to_be_in_set",
    "meta": {}
  },
  "result": {
    "observed_value": [
      "First",
      "Second",
      "Third"
    ],
    "details": {
      "value_counts": [
        {
          "value": "First",
          "count": 159
        },
        {
          "value": "Second",
          "count": 127
        },
        {
          "value": "Third",
          "count": 341
        }
      ]
    }
  },
  "meta": {}
}

2.4 Crie expectativas para verificar se as colunas "Survived" e "Pclass" existem no dataframe.

In [32]:
coluna_ex = 'survived'
campos_ex = validator.expect_column_to_exist(coluna_ex)
print(campos_ex)

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "expectation_config": {
    "kwargs": {
      "column": "survived",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "expectation_type": "expect_column_to_exist",
    "meta": {}
  },
  "result": {},
  "meta": {}
}

In [33]:
coluna_ex = 'class'
campos_ex = validator.expect_column_to_exist(coluna_ex)
print(campos_ex)

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "expectation_config": {
    "kwargs": {
      "column": "class",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "expectation_type": "expect_column_to_exist",
    "meta": {}
  },
  "result": {},
  "meta": {}
}

2.5 Verifique se os valores das colunas "Age" e "Fare" não são nulos e se estão dentro de um intervalo razoável (0 a 100 para "Age" w 0 a 100 para "Fare".

In [34]:
var_age = (validator.expect_column_values_to_not_be_null('age') and 
           validator.expect_column_values_to_be_between('age', min_value=0, max_value=100))
print(var_age)

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "expectation_config": {
    "kwargs": {
      "min_value": 0,
      "max_value": 100,
      "column": "age",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "expectation_type": "expect_column_values_to_be_between",
    "meta": {}
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {}
}

In [35]:
var_fer = (validator.expect_column_values_to_not_be_null('Fare') and 
           validator.expect_column_values_to_be_between('Fare', min_value=0, max_value=100))
print(var_fer)

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "expectation_config": {
    "kwargs": {
      "min_value": 0,
      "max_value": 100,
      "column": "Fare",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "expectation_type": "expect_column_values_to_be_between",
    "meta": {}
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 43,
    "unexpected_percent": 6.8580542264752795,
    "partial_unexpected_list": [
      263.0,
      146.5208,
      263.0,
      247.5208,
      146.5208,
      113.275,
      512.3292,
      153.4625,
      135.6333,
      247.5208,
      110.8833,
      108.9,
      262.375,
      164.8667,
      134.5,
      135.6333,
      153.4625,
      133.65,
      211.5,
      227.525
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 6.8580542264752795,
    "unexpected_percent_nonmissing": 6.8580542264752795
  },
  "meta": {}
}

2.6 Define que a coluna "Sex" só pode ter os valores "male" ou "female".

In [36]:
var_fer = (validator.expect_column_values_to_not_be_null('Fare') and 
           validator.expect_column_values_to_be_between('Fare', min_value=0, max_value=100))
print(var_fer)

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "expectation_config": {
    "kwargs": {
      "min_value": 0,
      "max_value": 100,
      "column": "Fare",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "expectation_type": "expect_column_values_to_be_between",
    "meta": {}
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 43,
    "unexpected_percent": 6.8580542264752795,
    "partial_unexpected_list": [
      263.0,
      146.5208,
      263.0,
      247.5208,
      146.5208,
      113.275,
      512.3292,
      153.4625,
      135.6333,
      247.5208,
      110.8833,
      108.9,
      262.375,
      164.8667,
      134.5,
      135.6333,
      153.4625,
      133.65,
      211.5,
      227.525
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 6.8580542264752795,
    "unexpected_percent_nonmissing": 6.8580542264752795
  },
  "meta": {}
}

In [37]:
coluna_ex = 'Sex'
valor_ex = ['male','female']
survided_ex = validator.expect_column_values_to_be_in_set(coluna_ex,valor_ex)

print(survided_ex)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "expectation_config": {
    "kwargs": {
      "column": "Sex",
      "value_set": [
        "male",
        "female"
      ],
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "expectation_type": "expect_column_values_to_be_in_set",
    "meta": {}
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {}
}

### 3. Executando as Expectativas

3.1 Defina um Checkpoint e execute-o para receber os resultados do validator.

In [38]:
checkpoint = gx.checkpoint.SimpleCheckpoint(
    name = "my_quickstart_checkpoint",
    data_context = context,
    validator = validator
)

In [39]:
checkpoint_result = checkpoint.run()

Calculating Metrics:   0%|          | 0/38 [00:00<?, ?it/s]

In [40]:
context.build_data_docs()

{'local_site': 'file://d:\\user.sergio\\_fontes.hd\\_estudo-fora-aws\\ada.curso.itau\\data_analytics_engineering\\great_expectations\\uncommitted\\data_docs\\local_site\\index.html'}

In [41]:
context.open_data_docs()

In [42]:
#context.convert_to_file_context()